/* order list and unordered list have the same settings. Will later go in and turn this into a class since they do the same thing. Sets the text color to whitesmoke.
Sets the font size to 18 pixels and font style to times new roman, with a default of serif if not supported by the browser. It also aligns the text to the left*/
ol{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

ul{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

/* This is for the image that i have added. It sets the border radius to 75% giving it the oval look. The width to 200 for the best vesibility of the image.
The margins have been set to center the image below the h2 tag */
img{
    border-radius: 75%;
    width: 200px;
    margin-left: 44%;
    margin-right: 56%;
}

/*This connects to the class set up for all paragraphs within sections and any text that should match. 
Sets the text color to whitesmoke.Sets the font size to 18 pixels and font style to times new roman, with a default of serif if not supported by the browser. 
It also aligns the text center and adds 5 pixels of padding for better visibility */
.all_articles{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
}
/* The below nav a selectors set the color of the text for hovering, visiting and actively clicking on a link. */
nav a:visited{
    color: lightsteelblue;
}

nav a:hover{
    color: skyblue;
}

nav a:active{
    color: lightgreen;
}
/* connect to the class navi, inside of the nav tags. This is used to change the text color, align the text to the right, add a small amount of padding (5 pixels), 
set the font size to 20 pixels, space the words by 5 pixels for a bit better visibility, and sets a 10 pixel margin around the entire nav section */

.navi{
    color: whitesmoke;
    text-align: right;
    padding: 5px;
    font-size: 20px;
    word-spacing: 5px;
    margin: 10px;
}
/* This connects to the article right below the div boundry. I've used this to set the background color to slategrey as I felt it made thing stand-out better against the white.
It also add 15 pixels of padding, without the padding the p and h2 tags apparred too close together */
.article_boundrey{
    background-color: slategray;
    padding: 15px;
}
/* reaches out to the h2 tags and aligns them center for better visibilty, and also sets the font size to 25 pixels, that way it's smaller than the h1 tag. 
So there is no confusion about importance. */
h2.subjects{
    text-align:center;
    font-size: 25px;
}
/* connect to the h1 tag class to align the text to the left and push the left margin over 20 pixels.*/
h1.subjects{
    text-align:left;
    margin-left: 20px;
}

/*class created for the h1 and h2 tags in the HTML index.html file. It sets the text color to whitesmoke, font to times new roman, with a default of serif if times isn't supported.
it sets the font size to 30 pixels for more visibility versus other text in the file*/
.subjects{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

/*class created for the div's in the HTML index.html file. It sets the div height to 200 pixels, the background color to a slightly off-black using the rgb color palette.
and it adds to pixels worth of padding*/
.boundrey{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.863);
    padding: 10px;
}

/*this is reaching out to the footer class created in the HTML index.html file. It sets the text color to smokewhite and the font size to 20 pixels */
.footer{
    color: whitesmoke;
    font-size: 20px;
}
